*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}
body{
background:white;
color:black;
transition:0.3s;
}
.logo img{
    width:120px;
    height:auto;
}
.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
z-index:1000;
}
.logo{
font-size:28px;
font-weight:bold;
color:black;
}
nav a{
text-decoration:none;
color:black;
margin:15px;
font-size:18px;
}
#theme-btn{
border:none;
background:none;
font-size:25px;
cursor:pointer;
}
.hero{
height:100vh;
background-image:url("images 2.jpg");
background-size:cover;
background-position:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}
.hero h1{
font-size:55px;
color:white;
}
.hero p{
font-size:20px;
color:white;
margin:20px;
}
.cta{
padding:15px 35px;
border:none;
border-radius:30px;
background:#0066ff;
color:white;
font-size:17px;
cursor:pointer;
transition:0.3s;
}
.cta:hover{
transform:scale(1.05);
}
.services{
padding:70px 8%;
text-align:center;
}
.services h2{
margin-bottom:30px;
}
.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}
.card{
background:#eee;
padding:30px;
border-radius:15px;
transition:0.3s;
}
.card:hover{
transform:translateY(-10px);
box-shadow:0 10px 25px gray;
}
.card h3{
margin-bottom:15px;
}
footer{
padding:30px;
text-align:center;
background:white;
}
footer a{
color:black;
text-decoration:none;
margin:10px;
}
.dark-theme{
background:#111;
color:white;
}
.dark-theme .navbar{
background:#222;
}
.dark-theme .logo,
.dark-theme nav a{
color:white;
}
.dark-theme .services h2{
color:white;
}
.dark-theme .card{
background:#222;
color:white;
}
.dark-theme footer{
background:#111;
}
.dark-theme footer a,
.dark-theme footer p{
color:white;
}
@media(max-width:768px){
.navbar{
padding:20px;
}
nav{
display:none;
}
.hero h1{
font-size:35px;
}
.cards{
grid-template-columns:1fr;
}
}
.about{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}
.about h1
font-size:45px;
}
.about p{
max-width:600px;
font-size:18px;
}
